{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Lobby</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="font-family: 'Hahmlet', serif;">
    {% comment %} 나중에 여기 있는 스티키 먹히는지 확인하세요~ {% endcomment %}
    <nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">
        <div class="container-fluid">

          <div class="d-flex">
          <a href="{% url "movies:index" %}">
          <img style=" width: 40px; height: 40px;" src="{% static "popcorn.png" %}" alt="popcorn">
          </a>
          <a style="margin: 0px;" class="navbar-brand fs-3" href="{% url "movies:index" %}">무비로비</a>
          <a href="{% url "movies:index" %}">
            <img style=" width: 40px; height: 40px;" src="{% static "popcorn.png" %}" alt="popcorn">
          </a>
          </div>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse  justify-content-between" id="navbarNavAltMarkup">
            {% if user.is_authenticated %}

              <div class="navbar-nav">
                <div class="d-flex justify-content-center">
                  <a class="nav-link" href="{% url "movies:index" %}">HOME</a>
                </div>
                <div class="d-flex justify-content-center">
                  <a class="nav-link" href="{% url "movies:create" %}">영화등록</a>
                </div>
              </div>
              
              <div class="navbar-nav">
                <div class="d-flex justify-content-center">
                  <a class="nav-link" href="{% url "accounts:update" %}">회원정보수정</a>
                </div>
                <div class="d-flex justify-content-center">
                  <a class="nav-link" href="{% url "change_password" user.pk %}">비밀번호변경</a>
                </div>
                <div class="d-flex justify-content-center">
                  <form action="{% url "accounts:logout" %}" method="POST">
                    {% csrf_token %}
                    <input style='text-decoration: none;padding-top: 7px;' class="btn btn-link text-white-50" type="submit" value="로그아웃">
                  </form>
                </div>
              </div>
        
                {% comment %} <form action="{% url "accounts:delete" %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="회원탈퇴">
                </form> {% endcomment %}
        
              {% else %}
              <div class="navbar-nav">
              <a class="nav-link" href="{% url "movies:index" %}">INDEX</a>
              <a class="nav-link" href="{% url "accounts:signup" %}">회원가입</a>
              <a class="nav-link" href="{% url "accounts:login" %}">로그인</a>
              </div>
              {% endif %}

          </div>
        </div>
      </nav>

    <div class='px-5'>
        {% block content %}
        {% endblock content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>